# SPDX-FileCopyrightText: 2024-2025 Zentrum für Digitale Souveränität der Öffentlichen Verwaltung (ZenDiS) GmbH
# SPDX-FileCopyrightText: 2023 Bundesministerium des Innern und für Heimat, PG ZenDiS "Projektgruppe für Aufbau ZenDiS"
# SPDX-License-Identifier: Apache-2.0
---
certificate:
  secretName: {{ .Values.ingress.tls.secretName | quote }}
  request:
    enabled: false

commonAnnotations:
  {{ .Values.annotations.servicesExternalPostfix.common | toYaml | nindent 2 }}

containerSecurityContext:
  allowPrivilegeEscalation: true
  capabilities: {}
  enabled: true
  seccompProfile:
    type: "RuntimeDefault"
  readOnlyRootFilesystem: true
  runAsNonRoot: false
  runAsUser: 0
  runAsGroup: 0
  privileged: true
  seLinuxOptions:
    {{ .Values.seLinuxOptions.postfix | toYaml | nindent 4 }}

global:
  imagePullSecrets:
    {{ .Values.global.imagePullSecrets | toYaml | nindent 4 }}

image:
  registry: {{ coalesce .Values.repositories.image.registryOpencodeDe .Values.global.imageRegistry .Values.images.postfix.registry | quote }}
  repository: {{ .Values.images.postfix.repository | quote }}
  tag: {{ .Values.images.postfix.tag | quote }}
  imagePullPolicy: {{ .Values.global.imagePullPolicy | quote }}

persistence:
  size: {{ .Values.persistence.storages.postfix.size | quote }}
  storageClass: {{ coalesce .Values.persistence.storages.postfix.storageClassName .Values.persistence.storageClassNames.RWO | quote }}
  annotations:
    {{ .Values.annotations.servicesExternalPostfix.persistence | toYaml | nindent 4 }}

podAnnotations:
  intents.otterize.com/service-name: "postfix"
  {{- with .Values.annotations.servicesExternalPostfix.pod }}
  {{ . | toYaml | nindent 2}}
  {{- end}}

podSecurityContext:
  enabled: true
  fsGroup: 101

postfix:
  amavisHost: ""
  amavisPortIn: ""
  domain: {{ .Values.global.mailDomain | default .Values.global.domain | quote }}
  hostname: "postfix"
  inetProtocols: "ipv4"
  ldap:
    host: "ums-ldap-server"
    scheme: "ldap"
    port: 389
    baseDn: "{{ .Values.ldap.baseDn }}"
    bindDn: "uid=ldapsearch_postfix,cn=users,{{ .Values.ldap.baseDn }}"
    password:
      value: {{ .Values.secrets.nubus.ldapSearch.postfix | quote }}
  milterDefaultAction: "accept"
  smtpdMilters:
    {{- if .Values.apps.dkimpy.enabled }}
    10-dkimpy:
      host: "opendesk-dkimpy-milter.{{ .Release.Namespace }}.svc.{{.Values.cluster.networking.domain }}"
      port: 8892
    {{- end }}
    {{- if .Values.antivirus.milter.host }}
    30-antivirus:
      host: {{ .Values.antivirus.milter.host | quote }}
      port: {{ .Values.antivirus.milter.port }}
    {{- else }}
    {{- if .Values.apps.clamavDistributed.enabled }}
    30-antivirus:
      host: "clamav-milter"
      port: 7357
    {{- else if .Values.apps.clamavSimple.enabled }}
    30-antivirus:
      host: "clamav-simple"
      port: 7357
    {{- end }}
    {{- end }}
  {{- if .Values.smtp.host }}
  relayHost:
    enabled: true
    host: {{ .Values.smtp.host }}
    port: {{ .Values.smtp.port }}
    authentication:
      username:
        value: {{ .Values.smtp.username }}
      password:
        value: {{ .Values.smtp.password }}
  smtpSASLAuthEnable: "yes"
  {{- else }}
  smtpSASLAuthEnable: "no"
  {{- end }}
  # Warning: This setting allows unauthenticated mail relay from relayNets!
  allowRelayNets: true
  relayNets: {{ join " " .Values.cluster.networking.cidr | quote }}
  minTLSVersion: "TLSv1.2"
  smtpdTLSMandatoryCiphers: "medium"
  smtpTLSSecurityLevel: "encrypt"
  smtpdSASLAuthEnable: "yes"
  smtpdSASLSecurityOptions: {{ .Values.smtp.security.smtpdSASLSecurityOptions | join ", " | quote }}
  smtpSASLSecurityOptions: {{ .Values.smtp.security.smtpSASLSecurityOptions | join ", " | quote }}
  smtpdSASLType: "cyrus"
  smtpdTLSSecurityLevel: "may"
  smtpdTLSCertFile: "/etc/tls/tls.crt"
  smtpdKeyFile: "/etc/tls/tls.key"
  smtpdSASLPath: "smtpd"

  staticAuthDB:
    enabled: true
    username:
      value: "opendesk-system"
    password:
      value: {{ .Values.secrets.postfix.opendeskSystemPassword | quote }}

  ldapTransportMaps: {}

  ldapVirtualAliasMaps:
    # Support email address definition on ldap groups
    10-groups:
      # ldap filter to find groups with mail address
      queryFilter: "(&(objectClass=univentionGroup)(mailPrimaryAddress=%s))"
      # -- use this attribute if the query already returns email addresses of members and no recursive lookup needs to be done
      resultAttribute: ""
      # -- do a recursive search on the specified attribute if found, should be a DN
      specialResultAttribute: "uniqueMember"
      # -- return the following attribute from all found leaves when a recursive search is done
      leafResultAttribute: "mailPrimaryAddress"
    # Support for objects of type "mail/lists"
    20-lists:
      # ldap filter to find groups with mail address
      queryFilter: "(&(objectClass=univentionMailList)(mailPrimaryAddress=%s))"
      # -- use this attribute if the query already returns email addresses of members and no recursive lookup needs to be done
      resultAttribute: "univentionMailMember"
      # -- do a recursive search on the specified attribute if found, should be a DN
      specialResultAttribute: ""
      # -- return the following attribute from all found leaves when a recursive search is done
      leafResultAttribute: ""

  ldapVirtualMailboxDomains:
    queryFilter: "(&(objectClass=univentionMailDomainname)(cn=%s))"
    resultAttribute: "cn"

  # Only deliver mail to Dovecot, if it is available
  {{- if .Values.apps.oxAppSuite.enabled }}
  virtualTransport: "lmtps:dovecot:24"
  {{- else }}
  virtualMailboxDomains: []
  {{- end }}

  overrideMaps:
    /etc/postfix/dovecot-ldap.conf:
      name: "dovecot"
      key: "oauth2-primary.conf.ext"

replicaCount: {{ .Values.replicas.postfix }}

resources:
  {{ .Values.resources.postfix | toYaml | nindent 2 }}

service:
  annotations:
    {{ .Values.annotations.servicesExternalPostfix.service | toYaml | nindent 4 }}
  external:
    enabled: false

serviceAccount:
  annotations:
    {{ .Values.annotations.servicesExternalPostfix.serviceAccount | toYaml | nindent 4 }}
...
