{{/*
SPDX-FileCopyrightText: 2023 Bundesministerium des Innern und für Heimat, PG ZenDiS "Projektgruppe für Aufbau ZenDiS"
SPDX-License-Identifier: Apache-2.0
*/}}
---
global:
  domain: {{ .Values.istio.domain | quote }}
  hosts:
    openxchange: {{ .Values.global.hosts.openxchange | quote }}

tls:
  secretName: "{{ .Values.istio.domain }}-tls"
...
