extends: default

rules:
  line-length: disable
  trailing-spaces: disable
  indentation:
    spaces: 2
    indent-sequences: true
  comments:
    min-spaces-from-content: 1
  document-start: disable

ignore: |
  helmfile/charts/
