# SPDX-FileCopyrightText: 2026 openDesk Edu Contributors
# SPDX-License-Identifier: Apache-2.0
---
ingress:
  enabled: true
  hosts:
    - "term.{{ .Values.global.domain }}"
  annotations:
    kubernetes.io/ingress.class: haproxy
    haproxy-ingress.github.io/ssl-redirect: "true"
image:
  repository: tsl0922/ttyd
  tag: "1.7.7"
