# SPDX-FileCopyrightText: 2023 Bundesministerium des Innern und für Heimat, PG ZenDiS "Projektgruppe für Aufbau ZenDiS"
# SPDX-License-Identifier: Apache-2.0
---
environments:
  dev:
    values:
      - "{{ requiredEnv "PWD" }}/helmfile/environments/dev/*.yaml.gotmpl"
  test:
    values:
      - "{{ requiredEnv "PWD" }}/helmfile/environments/test/*.yaml.gotmpl"
  prod:
    values:
      - "{{ requiredEnv "PWD" }}/helmfile/environments/prod/*.yaml.gotmpl"
...
