# SPDX-FileCopyrightText: 2026 openDesk Edu Contributors
# SPDX-License-Identifier: Apache-2.0
---
annotations:
  drawio:
    common: {}
    ingress: {}
    service: {}
    serviceAccount: {}
  excalidraw:
    common: {}
    ingress: {}
    service: {}
    serviceAccount: {}
  self-service-password:
    common: {}
    ingress: {}
    service: {}
    serviceAccount: {}
  planka:
    common: {}
    ingress: {}
    service: {}
    serviceAccount: {}
  etherpad:
    common: {}
    ingress: {}
    service: {}
    serviceAccount: {}
  bookstack:
    common: {}
    ingress: {}
    service: {}
    serviceAccount: {}
  limesurvey:
    common: {}
    ingress: {}
    service: {}
    serviceAccount: {}
  typo3:
    common: {}
    ingress: {}
    service: {}
    serviceAccount: {}
  zammad:
    common: {}
    ingress: {}
    service: {}
    serviceAccount: {}
  snipr:
    common: {}
    ingress: {}
    service: {}
    serviceAccount: {}
  opencloud:
    common: {}
    ingress: {}
    service: {}
    serviceAccount: {}
  moodle:
    common: {}
    ingress: {}
    service: {}
    serviceAccount: {}
  ilias:
    common: {}
    ingress: {}
    service: {}
    serviceAccount: {}
  bigbluebutton:
    common: {}
    ingress: {}
    service: {}
    serviceAccount: {}
  f13:
    common: {}
    ingress: {}
    service: {}
    serviceAccount: {}
