# SPDX-FileCopyrightText: 2026 openDesk Edu Contributors
# SPDX-License-Identifier: Apache-2.0
---
storageclasses:
  cephfs: "ceph-cephfs-hdd-ec"
  rbd: "ceph-rbd-ssd"

persistence:
  storageClassNames:
    RWX: ""
    RWO: ""
  storages:
    drawio: { storageClassName: ~ }
    excalidraw: { storageClassName: ~ }
    selfServicePassword: { storageClassName: ~ }
    planka: { storageClassName: ~ }
    etherpad: { storageClassName: ~ }
    bookstack: { storageClassName: ~ }
    limesurvey: { storageClassName: ~ }
    snipr: { storageClassName: ~ }
    typo3: { storageClassName: ~ }
    zammad: { storageClassName: ~ }
    opencloud: { storageClassName: ~ }
    moodle: { storageClassName: ~ }
    ilias: { storageClassName: ~ }
    bigbluebutton: { storageClassName: ~ }
    f13: { storageClassName: ~ }
    typo3Fileadmin: { storageClassName: ~ }
    typo3Var: { storageClassName: ~ }
