# SPDX-FileCopyrightText: 2026 openDesk Edu Contributors
# SPDX-License-Identifier: Apache-2.0
---
persistentVolume:
  enabled: true
  size: 50Gi
ollama:
  models:
    - llama3.2:latest
    - nomic-embed-text:latest
service:
  type: ClusterIP
