# If secrets.enc.yaml exists, this file is a SOPS-encrypted version of secrets.yaml.
# Decrypt with: sops decrypt helmfile/environments/edu/secrets.enc.yaml > helmfile/environments/edu/secrets.yaml
# ArgoCD: use external-secrets or sealed-secrets to handle decryption at deploy time.
