# SPDX-FileCopyrightText: 2024-2026 Zentrum für Digitale Souveränität der Öffentlichen Verwaltung (ZenDiS) GmbH
# SPDX-License-Identifier: Apache-2.0
---
images:
  collabora:
    registry: "registry.opencode.de"
    repository: "zendis/opendesk-enterprise/components/supplier/collabora/images/collabora-online-for-opendesk"
    tag: "25.04.7.3.1@sha256:cc7786872493869c88487cc451aa333c43f731ea214dc5e0fce5f68a65250575"
  dovecot:
    registry: "registry.opencode.de"
    repository: "zendis/opendesk-enterprise/components/supplier/open-xchange/images-mirror/dovecot-pro"
    tag: "3.0.3-rev6@sha256:0497ff9254aadec71533d372b9913cf40f4d39c1c5d8f978c31bef5611cc88dc"
  nextcloud:
    registry: "registry.opencode.de"
    repository: "zendis/opendesk-enterprise/components/supplier/nextcloud/images/opendesk-nextcloud"
    tag: "1.8.3@sha256:0c57c770d9e4c44e9ab60c6f7d2d316471aaca329a05c5a6f77b13212b9bfaeb"
  openxchangeCoreMW:
    registry: "registry.opencode.de"
    repository: "zendis/opendesk-enterprise/components/supplier/open-xchange/images-mirror/middleware-public-sector-pro"
    tag: "8.45.74@sha256:32677978c1ef0f17f26b95a85d98fe529a489bd5d35e4a6cba34ebef5c78c72c"
...
