customization:
  release:
    opendeskOpencloud: []
    drawio: []
    excalidraw: []
    etherpad: []
    f13: []
    ilias: []
    intercom: []
    self-service-password: []
    zammad: []
    bigbluebutton: []
    bookstack: []
    grommunio: []
    limesurvey: []
    planka: []
    self: []
    snipr: []
    sogo: []
    typo3: []
annotations: {}
autoscaling: {}
backchannelLogout: {}
backup: {}
cluster:
  networking:
    domain: opendesk.hrz.uni-marburg.de
database:
  host: ''
  name: ''
databases: {}
debug:
  enabled: false
image:
  repository: ''
  tag: ''
images:
  repository: ''
  tag: ''
ingress:
  enabled: false
ldap:
  baseDn: ''
  bindPassword: ''
  host: ''
monitoring:
  enabled: false
oidc:
  clientId: ''
  clientSecret: ''
persistence:
  enabled: false
registry: {}
replicas: {}
secrets:
  keycloak:
    clientSecret: {}
  adminPassword: ''
  grommunio:
    dbPassword: changeme
    cachePassword: changeme
  moodleSaml:
    spCert: ''
    spKey: ''
    idpMetadata: ''
    idpCert: ''
services: {}
storageclasses: {}
