global:
  mailDomain: home.opendesk-edu.org
  domain: home.opendesk-edu.org
  moodleSaml:
    entityId: https://moodle.home.opendesk-edu.org/shibboleth
  grommunio:
    resources:
      requests:
        memory: 4Gi
  keycloak:
    realm: opendesk
  hosts:
    keycloak: portal
    opencloud: files
    f13: f13
    grommunio: grommunio
    nextcloud: nextcloud
    typo3: typo3
    stalwart: mail
    sogo: contacts
    mayan: mayan
    paperless: paperless
  mail_domain: opendesk-edu.org
platform:
  realm: opendesk
