resources:
  umsKeycloak:
    limits:
      cpu: 2
      memory: 2Gi
    requests:
      cpu: 0.1
      memory: 512Mi
  umsKeycloakBootstrap:
    limits:
      cpu: 2
      memory: 512Mi
    requests:
      cpu: 0.1
      memory: 256Mi
  umsKeycloakExtensionHandler:
    limits:
      cpu: 2
      memory: 256Mi
    requests:
      cpu: 0.1
      memory: 48Mi
  umsKeycloakExtensionProxy:
    limits:
      cpu: 2
      memory: 256Mi
    requests:
      cpu: 0.1
      memory: 48Mi
  umsLdapNotifier:
    limits:
      cpu: 2
      memory: 1Gi
    requests:
      cpu: 0.1
      memory: 256Mi
  umsLdapServer:
    limits:
      cpu: 2
      memory: 1Gi
    requests:
      cpu: 0.1
      memory: 256Mi
  umsNotificationsApi:
    limits:
      cpu: 2
      memory: 1Gi
    requests:
      cpu: 0.1
      memory: 256Mi
  umsPortalFrontend:
    limits:
      cpu: 2
      memory: 1Gi
    requests:
      cpu: 0.1
      memory: 256Mi
  umsPortalConsumer:
    limits:
      cpu: 2
      memory: 1Gi
    requests:
      cpu: 0.1
      memory: 256Mi
  umsPortalConsumerDependencies:
    limits:
      cpu: 2
      memory: 1Gi
    requests:
      cpu: 0.1
      memory: 256Mi
  umsPortalServer:
    limits:
      cpu: 2
      memory: 1Gi
    requests:
      cpu: 0.1
      memory: 256Mi
  umsProvisioningApi:
    limits:
      cpu: 2
      memory: 1Gi
    requests:
      cpu: 0.1
      memory: 100Mi
  umsProvisioningDispatcher:
    limits:
      cpu: 2
      memory: 1Gi
    requests:
      cpu: 0.1
      memory: 256Mi
  umsProvisioningPrefill:
    limits:
      cpu: 2
      memory: 1Gi
    requests:
      cpu: 0.1
      memory: 256Mi
  umsProvisioningRegisterConsumers:
    limits:
      cpu: 2
      memory: 1Gi
    requests:
      cpu: 0.1
      memory: 64Mi
  umsProvisioningUdmTransformer:
    limits:
      cpu: 2
      memory: 1Gi
    requests:
      cpu: 0.1
      memory: 64Mi
  umsProvisioningNats:
    limits:
      cpu: 2
      memory: 1Gi
    requests:
      cpu: 0.1
      memory: 128Mi
  umsGuardianManagementApi:
    limits:
      cpu: 2
      memory: 1Gi
    requests:
      cpu: 0.1
      memory: 256Mi
  umsGuardianManagementUi:
    limits:
      cpu: 2
      memory: 1Gi
    requests:
      cpu: 0.1
      memory: 256Mi
  umsGuardianAuthorizationApi:
    limits:
      cpu: 2
      memory: 1Gi
    requests:
      cpu: 0.1
      memory: 256Mi
  umsOpenPolicyAgent:
    limits:
      cpu: 2
      memory: 1Gi
    requests:
      cpu: 0.1
      memory: 256Mi
  umsUmcGateway:
    limits:
      cpu: 2
      memory: 1Gi
    requests:
      cpu: 0.1
      memory: 256Mi
  umsUmcServer:
    limits:
      cpu: 2
      memory: 2Gi
    requests:
      cpu: 0.1
      memory: 256Mi
  umsStackDataUms:
    limits:
      cpu: 2
      memory: 1Gi
    requests:
      cpu: 0.1
      memory: 256Mi
  umsUdmListener:
    limits:
      cpu: 2
      memory: 1Gi
    requests:
      cpu: 0.1
      memory: 256Mi
  umsUdmRestApi:
    limits:
      cpu: 2
      memory: 1Gi
    requests:
      cpu: 0.1
      memory: 256Mi
  umsUdmRestApiInit:
    limits:
      cpu: 2
      memory: 1Gi
    requests:
      cpu: 0.1
      memory: 256Mi
  umsSelfserviceConsumer:
    limits:
      cpu: 2
      memory: 1Gi
    requests:
      cpu: 0.1
      memory: 256Mi
  openproject:
    limits:
      cpu: 4
      memory: 4Gi
    requests:
      cpu: 0.25
      memory: 512Mi
  openprojectAppInit:
    limits:
      cpu: 2
      memory: 768Mi
    requests:
      cpu: 0.1
      memory: 512Mi
  openprojectDbInit:
    limits:
      cpu: 2
      memory: 256Mi
    requests:
      cpu: 0.1
      memory: 256Mi
  openprojectHocuspocus:
    limits:
      cpu: 4
      memory: 1Gi
    requests:
      cpu: 0.25
      memory: 256Mi
  openprojectSeederJob:
    limits:
      cpu: 2
      memory: 768Mi
    requests:
      cpu: 0.1
      memory: 512Mi
  openprojectWorkers:
    limits:
      cpu: 4
      memory: 4Gi
    requests:
      cpu: 0.25
      memory: 512Mi
  xwiki:
    limits:
      cpu: 2
      memory: 8Gi
    requests:
      cpu: 0.1
      memory: 1.5Gi
