# SPDX-FileCopyrightText: 2026 openDesk Edu Contributors
# SPDX-License-Identifier: Apache-2.0
---
global:
  domain: {{ .Values.global.domain | quote }}
ingress:
  enabled: true
  hosts:
    - "latex.{{ .Values.global.domain }}"
  annotations:
    kubernetes.io/ingress.class: haproxy
    haproxy-ingress.github.io/ssl-redirect: "true"
image:
  registry: "172.17.209.35:5000"
  repository: "opendesk/sharelatex"
  tag: "latest"
