{{/*
SPDX-FileCopyrightText: 2023 Bundesministerium des Innern und für Heimat, PG ZenDiS "Projektgruppe für Aufbau ZenDiS"
SPDX-License-Identifier: Apache-2.0
*/}}
---
replicas:
  clamd: 1
  collabora: 1
  dovecot: 1
  freshclam: 1
  icap: 1
  jibri: 1
  jicofo: 1
  jitsi: 1
  jitsiKeycloakAdapter: 1
  jvb: 1
  keycloak: 1
  milter: 1
  nextcloud: 1
  openproject: 1
  postfix: 1
  xwiki: 1
...
