# SPDX-FileCopyrightText: 2024 Zentrum für Digitale Souveränität der Öffentlichen Verwaltung (ZenDiS) GmbH
# SPDX-License-Identifier: Apache-2.0
---
repositories:
  # Fine-granular registry settings, useful when you can't use virtual (Artifactory) or group (Nexus) repositories.
  # Higher precedence than `global.imageRegistry`
  image:
    dockerHub: ""
    registryOpencodeDe: ""
    registryOpencodeDeEnterprise: ""
  # Fine-granular registry settings, useful when you can't use virtual (Artifactory) or group (Nexus) repositories.
  # Higher precedence than `global.imageRegistry`
  helm:
    registryOpencodeDe: ""
    registryOpencodeDeEnterprise: ""
  # ClamAV registry settings
  clamav:
    auth: {}
    #  username: ""
    #  password: ""
    mirror:
      scheme: "https"
      url: "gitlab.opencode.de/bmi/opendesk/tooling/clamav-db-mirror/-/raw/main"
    customURLs:
      - scheme: "https"
        url: "gitlab.opencode.de/bmi/opendesk/tooling/clamav-db-mirror/-/raw/main/badmacro.ndb"
      - scheme: "https"
        url: "gitlab.opencode.de/bmi/opendesk/tooling/clamav-db-mirror/-/raw/main/blurl.ndb"
      - scheme: "https"
        url: "gitlab.opencode.de/bmi/opendesk/tooling/clamav-db-mirror/-/raw/main/bofhland_cracked_URL.ndb"
      - scheme: "https"
        url: "gitlab.opencode.de/bmi/opendesk/tooling/clamav-db-mirror/-/raw/main/bofhland_malware_attach.hdb"
      - scheme: "https"
        url: "gitlab.opencode.de/bmi/opendesk/tooling/clamav-db-mirror/-/raw/main/bofhland_malware_URL.ndb"
      - scheme: "https"
        url: "gitlab.opencode.de/bmi/opendesk/tooling/clamav-db-mirror/-/raw/main/bofhland_phishing_URL.ndb"
      - scheme: "https"
        url: "gitlab.opencode.de/bmi/opendesk/tooling/clamav-db-mirror/-/raw/main/foxhole_filename.cdb"
      - scheme: "https"
        url: "gitlab.opencode.de/bmi/opendesk/tooling/clamav-db-mirror/-/raw/main/foxhole_generic.cdb"
      - scheme: "https"
        url: "gitlab.opencode.de/bmi/opendesk/tooling/clamav-db-mirror/-/raw/main/foxhole_js.cdb"
      - scheme: "https"
        url: "gitlab.opencode.de/bmi/opendesk/tooling/clamav-db-mirror/-/raw/main/foxhole_js.ndb"
      - scheme: "https"
        url: "gitlab.opencode.de/bmi/opendesk/tooling/clamav-db-mirror/-/raw/main/hackingteam.hsb"
      - scheme: "https"
        url: "gitlab.opencode.de/bmi/opendesk/tooling/clamav-db-mirror/-/raw/main/junk.ndb"
      - scheme: "https"
        url: "gitlab.opencode.de/bmi/opendesk/tooling/clamav-db-mirror/-/raw/main/jurlbl.ndb"
      - scheme: "https"
        url: "gitlab.opencode.de/bmi/opendesk/tooling/clamav-db-mirror/-/raw/main/jurlbla.ndb"
      - scheme: "https"
        url: "gitlab.opencode.de/bmi/opendesk/tooling/clamav-db-mirror/-/raw/main/lott.ndb"
      - scheme: "https"
        url: "gitlab.opencode.de/bmi/opendesk/tooling/clamav-db-mirror/-/raw/main/malwarehash.hsb"
      - scheme: "https"
        url: "gitlab.opencode.de/bmi/opendesk/tooling/clamav-db-mirror/-/raw/main/phish.ndb"
      - scheme: "https"
        url: "gitlab.opencode.de/bmi/opendesk/tooling/clamav-db-mirror/-/raw/main/phishtank.ndb"
      - scheme: "https"
        url: "gitlab.opencode.de/bmi/opendesk/tooling/clamav-db-mirror/-/raw/main/porcupine.ndb"
      - scheme: "https"
        url: "gitlab.opencode.de/bmi/opendesk/tooling/clamav-db-mirror/-/raw/main/rogue.hdb"
      - scheme: "https"
        url: "gitlab.opencode.de/bmi/opendesk/tooling/clamav-db-mirror/-/raw/main/scam.ndb"
      - scheme: "https"
        url: "gitlab.opencode.de/bmi/opendesk/tooling/clamav-db-mirror/-/raw/main/shelter.ldb"
      - scheme: "https"
        url: "gitlab.opencode.de/bmi/opendesk/tooling/clamav-db-mirror/-/raw/main/spamattach.hdb"
      - scheme: "https"
        url: "gitlab.opencode.de/bmi/opendesk/tooling/clamav-db-mirror/-/raw/main/spamimg.hdb"
      - scheme: "https"
        url: "gitlab.opencode.de/bmi/opendesk/tooling/clamav-db-mirror/-/raw/main/spear.ndb"
      - scheme: "https"
        url: "gitlab.opencode.de/bmi/opendesk/tooling/clamav-db-mirror/-/raw/main/spearl.ndb"
      - scheme: "https"
        url: "gitlab.opencode.de/bmi/opendesk/tooling/clamav-db-mirror/-/raw/main/winnow.attachments.hdb"
      - scheme: "https"
        url: "gitlab.opencode.de/bmi/opendesk/tooling/clamav-db-mirror/-/raw/main/winnow_bad_cw.hdb"
      - scheme: "https"
        url: "gitlab.opencode.de/bmi/opendesk/tooling/clamav-db-mirror/-/raw/main/winnow_extended_malware.hdb"
      - scheme: "https"
        url: "gitlab.opencode.de/bmi/opendesk/tooling/clamav-db-mirror/-/raw/main/winnow_extended_malware_links.ndb"
      - scheme: "https"
        url: "gitlab.opencode.de/bmi/opendesk/tooling/clamav-db-mirror/-/raw/main/winnow_malware.hdb"
      - scheme: "https"
        url: "gitlab.opencode.de/bmi/opendesk/tooling/clamav-db-mirror/-/raw/main/winnow_malware_links.ndb"
      - scheme: "https"
        url: "gitlab.opencode.de/bmi/opendesk/tooling/clamav-db-mirror/-/raw/main/winnow_phish_complete_url.ndb"
      - scheme: "https"
        url: "gitlab.opencode.de/bmi/opendesk/tooling/clamav-db-mirror/-/raw/main/winnow_spam_complete.ndb"
      - scheme: "https"
        url: "gitlab.opencode.de/bmi/opendesk/tooling/clamav-db-mirror/-/raw/main/urlhaus.ndb"

...
