# SPDX-FileCopyrightText: 2025 Zentrum für Digitale Souveränität der Öffentlichen Verwaltung (ZenDiS) GmbH
# SPDX-License-Identifier: Apache-2.0
---
sip:
  jigasi:
    enabled: false
    port: "5060"
    # e.g. sip.mydomain.tld
    server: ""
    transport: "TCP"
    # e.g. jigasi@sip.mydomain.tld
    uri: ""
    password: ~
...
