{{/*
SPDX-FileCopyrightText: 2023 Bundesministerium des Innern und für Heimat, PG ZenDiS "Projektgruppe für Aufbau ZenDiS"
SPDX-License-Identifier: Apache-2.0
*/}}
---
smtp:
  host: "mail.brained.io"
  username: "relay@souvap-univention.de"
  password: "{{ env "SMTP_PASSWORD" }}"
...
