{{/*
SPDX-FileCopyrightText: 2023 Bundesministerium des Innern und für Heimat, PG ZenDiS "Projektgruppe für Aufbau ZenDiS"
SPDX-License-Identifier: Apache-2.0
*/}}
---
turn:
  transport: "udp"
  credentials: "{{ env "TURN_CREDENTIALS" }}"
  server:
    host: "turn.develop.souvap-univention.de"
    port: "3478"
  tls:
    host: "turn.develop.souvap-univention.de"
    port: "5349"

...
