# SPDX-FileCopyrightText: 2026 openDesk Edu Contributors
# SPDX-License-Identifier: Apache-2.0
---
image:
  repository: n8nio/n8n
  tag: latest

config:
  host: n8n.opendesk.hrz.uni-marburg.de
  encryptionKey: {{ .Values.secrets.n8n.encryptionKey | quote }}
  dbType: sqlite

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 1000m
    memory: 1Gi

persistence:
  enabled: true
  size: 5Gi
  storageClass: {{ coalesce .Values.persistence.storages.n8n.storageClassName .Values.persistence.storageClassNames.RWO | quote }}
